{% extends 'website/index.html' %}
{% block content %}
<title>{%block title %}
    {% for object in blogs %} 
    {{object.title}}
    {% endfor %}
    {%endblock %}</title>
<div class="blog-container">
    <div class="blog-content">
        {% for object in blogs %}
        <h1 class="title">{{object.title}}</h1>
        {{object.date|date}}

        <img src="{{object.thumbnail.url}}" alt="" class="thumbnail">
        <p>
        {{object.content|safe}}

        </p>
        {% endfor %}
    </div>
    <div class="other-blogs">
        <h2>More Related Blogs</h2>
        {% for rel in related_blogs|slice:4 %}
        <a href="{% url 'blog-detail' rel.slug %}">
            <div class="related">
                <img src="{{rel.thumbnail.url}}" alt="" width="70px" >
                <div class="rel-detail">
                    <h4>{{rel.title}}</h4>
                    <p>{{rel.content|safe|truncatewords:20}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock %}
</div>