{% extends 'website/index.html' %}
{% block content %}
<title>{%block title %}
    {% for object in blogs %} 
    {{object.title}}
    {% endfor %}
    {%endblock %}</title>
<div class=" navbar">
    {% for obj in about %}
    <div class="brand"><a href="{% url 'home-page' %}"><img src="{{obj.logo.url}}" alt="svg"></a></div>
    {% endfor %}
        
    
</div>
<div class="blog-container">
    <div class="blog-content">

        {% for object in blogs %}
        <h1 class="title"> {{object.title}}</h1>
        <small class="published-date">Published At: {{object.date|date}}</small>
        {{object.content|safe}}

        {% endfor %}
    </div>
    <div class="other-blogs">
        <h1>Other Related Blogs</h1>
        {% for rel in related_blogs|slice:4 %}
        <div class="blogs-content child">
                <a href="{% url 'blog-detail' rel.slug%}">
                <img src="{{rel.thumbnail.url}}" alt="img">
                <div class="blogs-detail">
                    <h2>{{rel.title}}</h2>
                    <p>{{rel.content|safe|truncatewords:15}}</p>
                    <small>April 14 - 8 min</small>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>