{% extends 'website/index.html' %}
<title>{% block title %}SappFit - Your Favourite Trainer{% endblock %}</title>
{% block content %}
<div class=" navbar ">
    <div class="brand"><a href="{% url 'home-page' %}"><img src="{{about.0.logo.url}}" alt="logo"></a></div>
    <nav class="right-side" id="responsive">
        <ul>
            <li><a href="{% url 'home-page' %}">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#services">Shop</a></li>
            {% if blogs %}
            <li><a href="#blogs">Blogs</a></li>
            {% endif %} 
            {% if testimonials %}
            <li><a href="#testimonial">Testimonials</a></li>
            {% endif %}
            <li><a href="#contact">Contacts</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'client-view' %}">Clients</a></li>

            {% endif %}
        </ul>
        
    </nav>
        <a href="javascript:void(0)" class="icon" onclick="navFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>  

<div class="first-page">
    <img src="{{about.0.backgroundImage.url}}" alt="background-images" class="bg-image">
    <div class="first-page-content">
        <h1>Hi,</h1>
        <h1>I'M <span class="name">Sapp-Fit</span></h1>
        <h2 class="role">Fitness Influencer & Personal Trainer</h2>
        <div class="hr">
            <div class="line"></div>
        </div>
        
        <a href="#services"><button>View My Services <i class="fas fa-dumbbell"></i></button></a>
    </div>
</div>
<div class="about-container" id="about">
    <div class="about hidden" >
        <img src="{{about.0.profileImage.url}}" alt="profile" class="about-image">
        <div class="about-content">
            <h1 class="title">About Me</h1>
            <p class="bio">
                {{about.0.bio}}
            </p>
            <a href="#contact"><button>Train With Me <i class="fas fa-dumbbell"></i></button></a>
        </div>
    </div>
</div>
<div class="quotes-container" style="background-image: url({{about.0.quoteContainerImage.url}});">
    <div class="quotes">
        <h1 class="quote">"</h1>
        <h1 class="sentence">{{about.0.quotes}} </h1>
        <h1 class="quote second">"</h1>

    </div>
</div>
<div class="services-container">
    <div class="services hidden" id="services">
        <h1 class="title">My Services</h1>
        <div class="services-list">
            {% for service in services %}
            <a href="{% url 'service-detail' service.slug %}" class="service-card child">
                    <img src={{service.icon.url}} alt="img" class="img">
                    <div class="overlay-color"></div>
                    <h1 class="service-name">{{service.title}}</h1>
                    <div class="service-content">
                        <div class="service-content-detail">
                            <h2 class="service-title">{{service.title}}</h2>
                            <p class="service-detail">{{service.info}}</p>
                            <p class="price">Rs.{{service.price}}</p>
                        </div>
                    </div>
            </a>
            {% endfor %} 

        </div>
    </div>
</div>

<div class="merch-container">
    <div class="merch hidden" id="services">
        <h1 class="title">Sapp-Fit Wear</h1>
        <p class="slogan" id="slogan">Get your premium fit from Sappfit Wear</p>
        <div class="merch-list child" id="merch-list">
            
        </div>
        <a href="" id="visit-store"><button >Visit Store </button></a>

        <small class = "notice" id="notice"></small>
    </div>
</div>

{% if blogs %}
<div class="blogs-container" id="blogs">
    <h1 class="title" >Blogs</h1>
    <div class="blog hidden">
        <div class="blogs-list">
            {% for blog in blogs|slice:2 %}
            <div class="blog-card child">
                <div class="img-part">
                    <img src="{{blog.thumbnail.url}}" alt="img">
                </div>
                <div class="blog-detail">
                    <div class="blog-content">
                        <h3 class="blog-title">{{blog.title|title}}</h3>
                        <p class="blog-para">{{blog.content|safe|truncatewords:25}}</p>
                    </div>
                    <div class="blog-card-footer">
                        <a href="{% url 'blog-detail' blog.slug %}" class="learn-more-btn">Read This Article</a>
                        <small>{{blog.date|date}} • {{blog.total_time_to_read}} min read</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if blogs.count >= 2   %}
    <div class="see-all-wrapper">
        <a href="{% url 'blogs'%}" class="sell-all-btn">View All Articles</a>
    </div>
    {% endif %}
</div>
{% endif %}
{% if testimonials %}
<div class="testimonials-container" id="testimonial">
    <h1 class="title">Testimonials</h1>
    
    <div class="carousel-wrapper">

        <div class="testimonial-list" id="testimonial-track">
            {% for testi in testimonials %}
            <div class="testinomial-card">
                <h3>{{testi.testimonial}}</h3>
                <div class="user">
                    <h4>{{testi.user_name}}</h4>
                    <p><i>{{testi.user_category}}</i></p>
                </div>
            </div>
            {% endfor %}
        </div>

        
    </div>
</div>
{% endif %}
<div class="contacts-container">
    <div class="contact-content hidden">
        <div class="map">
            <h1 class="title">Meet Me At Pump</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28261.37229871885!2d85.29090633701595!3d27.6965450489523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18345f546213%3A0xa13e2eea6786b743!2sThe%20Pump!5e0!3m2!1sen!2snp!4v1672416948828!5m2!1sen!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contact" id="contact">
            <h1 class="title">Contact Me</h1>
            <p class="bio">Slide into my DMs to start your fitness journey, or message me directly below</p>
            <div class="contact-detail">
                <a href="{{about.0.instagram}}">
                    <p><i class="fa fa-instagram"></i>&nbsp; sappfit</p>
                </a>
                <p><i class="fa fa-phone"></i>&nbsp; +977 {{about.0.phone_number}}</p>
                <p><i class="fa fa-envelope"></i>&nbsp; {{about.0.email_id}}</p>
                <div class="other-contact">
                    <div class="socials">
                        <a href="{{about.0.facebook}}" class="fa fa-facebook"></a>
                        <a href="{{about.0.instagram}}" class="fa fa-instagram"></a>
                        <a href="{{about.0.youtube}}" class="fa fa-youtube"></a>
                        <a href="{{about.0.pinterest}}" class="fa fa-pinterest"></a>
                    </div>
                </div>  
                            
            </div>
        </div>
    </div>
    
</div>
<!-- this is for the footer as well -->
<div class=" navbar responsive-navbar">
    <div class="brand"><a href="{% url 'home-page' %}"><img src="{{about.0.logo.url}}" alt="svg"></a></div>
    <nav class="right-side" id="responsive">
        <ul>
            <li><a href="{% url 'home-page' %}">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#services">Shop</a></li>
            {% if blogs %}
            <li><a href="#blogs">Blogs</a></li>
            {% endif %} 
            {% if testimonials %}
            <li><a href="#testimonial">Testimonials</a></li>
            {% endif %}
            <li><a href="#contact">Contacts</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'client-view' %}">Clients</a></li>

            {% endif %}
        </ul>
        
    </nav>
</div>
<p class="copyright">&copy; Copyright {{date}}</p>
{% endblock %}