{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'website/bloglist.css'%}">
    <link rel="stylesheet" href="{% static 'website/blogcss.css'%}">

    <link rel="stylesheet" href="{% static 'website/style.css'%}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="intro">
        <h1 class="intro-header">
            <span class="logo">Master Your Body </span><span class="logo"> &nbsp;with <span class="logo sappfit">SAPPFIT</span></span>
        </h1>
    </div>
   <main>
       {% include 'website/navbar.html' %}    
        {%block content %}{%endblock %}
    </main>
    
    
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script>
        // this helps to remove the confirm resubmission alert message
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <script src="{% static 'website/index.js' %}"></script>
</body>
</html>