<html>
    
    <body>
        <div class=" navbar">
            {% for obj in about %}
            <div class="brand"><a href="{% url 'home-page' %}"><img src="{{obj.logo.url}}" alt="svg"></a></div>
            {% endfor %}
            
            <div class="right-side" id="responsive">
                <nav>
                    <ul>
                        <li><a href="{% url 'home-page' %}">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="http://127.0.0.1:8000/#:~:text=Prenatal%20Exercise-,Blogs%20and%20Posts,-Why%20you%20should">Blogs</a></li>
                        <li><a href="#testimonial">Testimonials</a></li>
                        <li><a href="#contact">Contacts</a></li>
        
                    </ul>
                </nav>
               
                
            </div>
            <a href="javascript:void(0)" class="icon" onclick="navFunction()">
                <i class="fa fa-bars"></i></a>
        </div>
    </body>
</html>