<html>
    
    <body>
        <div class=" navbar">
            {% for obj in about %}
            <div class="brand"><a href="{% url 'home-page' %}"><img src="{{obj.logo.url}}" alt="svg"></a></div>
            {% endfor %}
                <nav class="right-side" id="responsive">
                    <ul>
                        <li><a href="{% url 'home-page' %}">Home</a></li>
                        <li><a href="#about">About Me</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#blogs">Blogs</a></li>
                        <li><a href="#testimonial">Testimonials</a></li>
                        <li><a href="#contact">Contacts</a></li>
                    </ul>
                    <a href="javascript:void(0)" class="icon" onclick="navFunction()">
                <i class="fa fa-bars"></i></a>
                </nav>
            
        </div>
    </body>
</html>