{% extends 'website/index.html' %}
{% load static %}
{% load widget_tweaks %}           
{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/client_style.css' %}">

{% endblock %}


<title>{%block title%} {{service.title}} {% endblock %}</title>

{% block content %}

<div class=" navbar">
    <div class="brand"><a href="{% url 'home-page' %}"><img src="{{logo.url}}" alt="svg"></a></div>
</div>
<div class="service-detail-container">
    <div class="service-header">
        <img src="{{service.icon.url}}" alt="service" class="service-detail-image">
        <div class="service-header-content">
            <h1>{{service.title}}</h1>
            <p>{{service.info}}</p>
            <button class="book-now-btn" onclick="openAddModal()">Book Now</button>
        </div>
        <button class="price-pill">@ Rs. {{service.price}}</button>
        
    </div>
    <div class="modal-overlay" id="modal-container">
        <div class="modal-box">
            <div class="modal-header">
                <h2 id="modalTitle">Request a Booking</h2>
                <button class="close-btn" onclick="closeModal()">×</button>
            </div>
            <form method="POST" id="clientForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">First Name</label>
                        {% render_field form.name class="form-control" placeholder="Jane" %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {% render_field form.email class="form-control" placeholder="jane@example.com" %}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                        {% render_field form.phone_number class="form-control" placeholder="e.g. +977 98-------- " %}
                    </div>

                    
                    <div class="form-group">
                        <label for="{{ form.preferred_date.id_for_label }}">Start Date</label>
                        {% render_field form.preferred_date %}
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Book Now</button>
                </div>
            </form>

        </div>
    </div>
    <div class="service-detail-list">
        <h1>Service Detail</h1>
        <p>Find out all the services I provide below:</p>
        <ul>
            {% for obj in service.feature.all %}
                <li><i class="fa fa-check" aria-hidden="true"></i>{{obj.service_item}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="other-services-container">
        <div class="other-services">
            <h1>Other Services</h1>
        </div>
        <div class="services-list">
            {% for obj in other_services %}
            <a href="{% url 'service-detail' obj.slug %}" class="service-card">
                <img src={{obj.icon.url}} alt="img" class="img">
                <div class="overlay-color"></div>
                <h1 class="service-name">{{obj.title}}</h1>
                <div class="service-content">
                    <h2 class="service-title">{{obj.title}}</h2>
                    <p class="service-detail">{{obj.info}}</p>
                    <p class="price">Rs.{{obj.price}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}