{% extends 'website/index.html' %}
{% block content %}

    <title>{% block title %}Blogs{% endblock %}</title>

{% include 'website/navbar.html' %}

<div class="blog-container">
    <div class="blog-header">
        <h1>Read My Latest Blogs</h1>
        <p>Here are some of my blogs that I have written. Hope it helps!</p>
    </div>
    <div class="blog-lists" id="blogs-list">
        {% for blog in blogs %}
            <div class="blogs-content child">
                <img src="{{blog.thumbnail.url}}" alt="img">
                <div class="blogs-detail">
                    <div class="blog-detail-content">
                        <h2>{{blog.title}}</h2>
                        <p>{{blog.content|safe|truncatewords:15}}</p>
                    </div>
                    <div class="blog-card-footer">
                        <a href="{% url 'blog-detail' blog.slug %}" class="read-more-btn">Read This Article</a>
                        <p class="small-text">{{blog.date|date}} • {{blog.total_time_to_read}} min read</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}