{% extends 'website/index.html' %}

{% load static %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'website/blogdetail.css'%}">

{% endblock %}
<title>{%block title %}
    {% for object in blogs %} 
    {{object.title}}
    {% endfor %}
    {%endblock %}</title>
{% block content %}

{% include 'website/navbar.html' %}

<div class="blog-container">
    <div class="blog-content">
        <h1 class="title"> {{blog.title}}</h1>
        <small class="published-date">Published On: {{blog.date|date}}</small>
        {{blog.content|safe}}
    </div>
    <hr>
    {% if related_blogs %}
    <div class="other-blogs">
        <h1>Other Related Blogs</h1>
        <div class="related-blog-list">
            {% for rel in related_blogs|slice:4 %}
            <div class="related-blog-card">
                <a href="{% url 'blog-detail' rel.slug%}">
                <img src="{{rel.thumbnail.url}}" alt="img">
                <div class="rel-detail">
                    <h2>{{rel.title}}</h2>
                    <p>{{rel.content|safe|truncatewords:15}}</p>
                    <small>{{rel.date|date}} • {{rel.total_time_to_read}} min read</small>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
