@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');


:root{
    --title-family :'Unbounded', cursive;
    --role-font :'Roboto Mono', monospace;
    --quote-family:'Lobster Two', cursive;

    --blog-font : 'Andika', sans-serif;
    --container-width: 60%;

    --margin-top:10em;
    --padding-bottom:10em;
    --blog-title:'Roboto Condensed', sans-serif;
}



.blog-container{
    margin-top: 2em;
    width: 70%;
}

.title{
    font-size: 3em;
    font-family: var(--blog-font);
}
.published-date{
    color:grey;
    font-size: 1em;
    margin-block: 1em;
}

.blog-content p{
    font-size: 1.25em;
    font-family: var(--blog-font);
    color: rgb(25, 25, 25);
}

.other-blogs{
    margin-top: 5em;
    width: 100%;
}
.other-blogs h1{
    font-family: var(--title-family);
    text-align: left;
    margin-bottom: 3em;
    color: rgb(89, 39, 3);
}
.related-blog-list{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
}
.related-blog-card{
    width:30%;
    display: flex;
    margin-bottom:2em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
}
.related-blog-card img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}
.rel-detail{
    padding: 0.85em;
    cursor: pointer;
    font-size:1.15em;
}

.rel-detail p{
    padding-block: 0.15em;
    padding-bottom:1em;
}
.other-blogs a{
    color: black;
}
.rel-detail:hover{
    background-color: rgba(212, 208, 208, 0.175);
}
/* for post */
button:active{
    border-style: outset;
}

@media only screen and (max-width: 600px) {
    
    .blog-container{
        width: 90%;
        padding-bottom: 3em;
        border-bottom: 1px solid grey;
    }
    .other-blogs{
        width: 100%;
    }
    .other-blogs h1{
        margin-bottom:1em;
    }
    .related-blog-card{
        margin:0;
        width: 100%;
    }
    .related-blog-card{
        width: 100%;
    }
}