@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');


:root{
    --title-family :'Unbounded', cursive;
    --role-font :'Roboto Mono', monospace;
    --quote-family:'Lobster Two', cursive;

    --blog-font : 'Andika', sans-serif;
    --container-width: 60%;

    --margin-top:10em;
    --padding-bottom:10em;
    --blog-title:'Roboto Condensed', sans-serif;
}

a{
    color: black;
}
.blog-container{
    width: 75%;
}

.blog-header h1{
    margin-top: 2em;
    font-family: var(--role-font);
}
.blog-lists{
    display: flex;
    flex-direction: column;
}
.blogs-content{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 5px;    /* background-color:rgb(238, 238, 238) ; */
}
.blogs-content img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.blogs-detail{
    font-family:var(--blog-font);
}
.blogs-detail p{
    font-size: 0.85em;
}

/* .blogs-detail:hover{
    background-color:rgb(243, 239, 239) ;

} */
.blogs-detail p{
    margin-top: 1em;
}
.blogs-detail button, .post-detail button{
    padding: 1em;
    border: none;
    margin-top: 1em;
    border-radius: 5px;
    background-color: rgb(89, 101, 199);
}
.blogs-small-detail{
    display: block;
    
}
/* posts */
.post-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.post-content{
    margin: 0;
    width: 45%;
    margin: 1em;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    background-color:rgb(222, 216, 216) ;

}
.post-content img{
    margin: 0;
    width: 100px;
    height: 100px;
}
.post-detail{
    font-family:var(--blog-font);
    padding-left: 1em;
    width: 100%;
}
.post-content:hover{
    background-color:rgb(185, 179, 179) ;

}
.post-list a{
    margin: 0;
    color: black;
}

@media only screen and (max-width:450px){
    .container{
        width: 90%;
    }
    
    .blog-content{
        flex-wrap: wrap;
        margin-top: 2eme;
    }
    .blog-content img{
        width: 100%;
       
    }

    .post-content{
        width: 100%;
    }
}