{%extends 'website/index.html'%}
{%load static %}
{% load widget_tweaks %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/customrequeststyle.css' %}">

{% endblock %}

<title>{% block title %}

Custom Service Request

{% endblock %}</title>

{% block content %}
{% include 'website/navbar.html' %}
<div id="skeleton-loader">
    <h2>Hold on for a sec, while the AI is evaluating and preparing the response.</h2>
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
    <div class="skeleton-card"></div>
</div>

<div class="request-container">
    <div class="request-header">
        <h1 class="title">Your Blueprint for Success.</h1>
        <p class="subtitle">Tell me about your goals, your schedule, and what you have access to. I'll build the exact roadmap to get you there.</p>
    </div>

    <div class="request-split">
        <div class="request-info">
            <h2>How it works:</h2>
            <div class="step">
                <div class="step-num">1</div>
                <div>
                    <h3>Share Your Details</h3>
                    <p>Fill out the form with your goals, fitness level, and available equipment.</p>
                </div>
            </div>
            <div class="step">
                <div class="step-num">2</div>
                <div>
                    <h3>Custom Programming</h3>
                    <p>I will design a highly effective 30-min, 45-min or 60-min routine specifically for your body.</p>
                </div>
            </div>
            <div class="step">
                <div class="step-num">3</div>
                <div>
                    <h3>Get to Work</h3>
                    <p>Receive your step-by-step PDF guide and start crushing your goals.</p>
                </div>
            </div>
           
            <div class="note">
                <h4>Note: </h4>
                <p>All information provided will be kept confidential and used solely for the purpose of creating your custom workout plan.</p>
                <p><strong>"Request Official Plan"</strong> sends the request directly to me (Sappfit), and the cost will depend on your specific needs. Meanwhile, the <strong>"Ask AI for Preview"</strong> feature costs nothing!</p>
                <p>The cost of the custom service will be determined based on the complexity of your request and the time required to create your personalized workout plan. (Rs. 500 - Rs. 2500)</p>
            </div>
             <div class="options">
                <h2>Choose Option: </h2>
               <div class="option-btns-group">
                    <button id="official-plan" disabled="true" onclick='changeOption(this, "ai-plan", "human_preview")'>Request Custom Plan</button>
                    <button id="ai-plan" onclick='changeOption(this, "official-plan", "ai_preview")'>Ask AI</button>
               </div>
            </div>
            
        </div>
        

        <div class="request-form-wrapper" id="official-plan-form">
            <h3>Request Custom Plan to SappFit</h3>
            <form method="POST" class="custom-form" id="clientForm">
                {% csrf_token %}
                <div class="custom-form">
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="{{form.name.id_for_label}}" class="form-label">{{form.name.label}}</label>
                            {{form.name}}
                        </div>
                        <div class="form-group">
                            <label for="{{form.age.id_for_label}}" class="form-label">{{form.age.label}}</label>
                            {% render_field form.age class="form-control bt-4" placeholder="Age " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {% if form.errors.age %}
                            <p class="alert-danger">{{form.errors.age}}</p>
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="{{form.weight.id_for_label}}" class="form-label">{{form.weight.label}}</label>
                            {% render_field form.weight class="form-control bt-4" placeholder="Weight (in Kg) " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {% if form.errors.weight %}
                            <p class="alert-danger">{{form.errors.weight}}</p>
                            {% endif %}
                           
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="{{form.phone_number.id_for_label}}" class="form-label">{{form.phone_number.label}}</label>
                            {% render_field form.phone_number class="form-control bt-4" placeholder="9xxx xx xx xx " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {% if form.errors.phone_number %}
                            <p class="alert-danger">{{form.errors.phone_number}}</p>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{form.gender.id_for_label}}" class="form-label">{{form.gender.label}}</label>
                            {{form.gender}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
                        {{form.email}}
                    </div>
                     <div class="form-row">
                        <div class="form-group">
                            <label for="{{form.workout_time.id_for_label}}" class="form-label">{{form.workout_time.label}}</label>
                            {{form.workout_time}}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{form.preferred_duration.id_for_label}}" class="form-label">{{form.preferred_duration.label}}</label>
                            {{form.preferred_duration}}
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label for="{{form.goal_choices.id_for_label}}" class="form-label">{{form.goal_choices.label}}</label>
                        {{form.goal_choices}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.activity_level.id_for_label}}" class="form-label">{{form.activity_level.label}}</label>
                        {{form.activity_level}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.equipment_used.id_for_label}}" class="form-label">{{form.equipment_used.label}} (Optional)</label>
                        {{form.equipment_used}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.special_notes.id_for_label}}" class="form-label">{{form.special_notes.label}} (Optional)</label>
                        {{form.special_notes}}
                    </div>

                </div>
                <div class="button-group" >
                    <button type="submit" name="action" value="human_request" class="submit-btn primary">
                        Request Official Plan
                    </button>
                    
                </div>
            </form>
        </div>
        <div class="request-form-wrapper" id="ai-preview-form">
            <h3>Ask AI for Workout Plan</h3>
            <form method="POST" class="custom-form" id="aiForm">
                {% csrf_token %}
                <div class="custom-form">
    
                    <div class="form-row">
                        
                        <div class="form-group">
                            <label for="{{form.age.id_for_label}}" class="form-label">{{form.age.label}}</label>
                            {% render_field form.age class="form-control bt-4" placeholder="Age " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {% if form.errors.age %}
                            <p class="alert-danger">{{form.errors.age}}</p>
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="{{form.weight.id_for_label}}" class="form-label">{{form.weight.label}}</label>
                            {% render_field form.weight class="form-control bt-4" placeholder="Weight (in Kg) " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {% if form.errors.weight %}
                            <p class="alert-danger">{{form.errors.weight}}</p>
                            {% endif %}
                           
                        </div>
                        <div class="form-group">
                            <label for="{{form.gender.id_for_label}}" class="form-label">{{form.gender.label}}</label>
                            {{form.gender}}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="{{form.goal_choices.id_for_label}}" class="form-label">{{form.goal_choices.label}}</label>
                            {{form.goal_choices}}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{form.activity_level.id_for_label}}" class="form-label">{{form.activity_level.label}}</label>
                            {{form.activity_level}}
                        </div>
                       
                    </div>
                     <div class="form-row">
                        <div class="form-group">
                            <label for="{{form.workout_time.id_for_label}}" class="form-label">{{form.workout_time.label}}</label>
                            {{form.workout_time}}
                        </div>
                        
                        <div class="form-group">
                            <label for="{{form.preferred_duration.id_for_label}}" class="form-label">{{form.preferred_duration.label}}</label>
                            {{form.preferred_duration}}
                        </div>
                    
                    </div>
                    <div class="form-group">
                        <label for="{{form.equipment_used.id_for_label}}" class="form-label">{{form.equipment_used.label}} (Optional)</label>
                        {{form.equipment_used}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.special_notes.id_for_label}}" class="form-label">{{form.special_notes.label}} (Optional)</label>
                        {{form.special_notes}}
                    </div>

                </div>
                <div class="button-group" >
                    <button type="submit" name="action" value="ai_preview" class="submit-btn primary" >
                        Request AI
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script src="{% static 'website/aidata.js' %}"></script>
{% endblock %}