{% extends 'website/index.html' %}
{% load static %}
{% load widget_tweaks %}           
{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/client_style.css' %}">
<link rel="stylesheet" href="{% static 'website/service-detail.css'%}">
{% endblock %}
<title>{%block title%} {{service.title}} {% endblock %}</title>
{% block content %}
{% include 'website/navbar.html' %}
<div class="service-detail-container">
    <div class="service-header">
        <div class="service-header-content">
            <h1>{{service.title}}</h1>
            <p>{{service.info}}</p>
            <a class="book-now-btn" >Book Now for <span style="font-weight:800; color:rgb(151, 255, 82);"> Rs.{{service.price}}/hr</span></a>
        </div>
        <img src="{{service.icon.url}}" alt="service" class="service-detail-image">
        
    </div>
    <div class="service-form-wrapper">
        <h1>Book your Service Now</h1>
        <div class="service-and-form-container">
            <div class="service-detail-list">
                <h2>Features:</h2>

                <p>Find out all the services I provide below:</p>
                <ul>
                    {% for obj in service.feature.all %}
                        <li><i class="fa fa-check" aria-hidden="true"></i>{{obj.service_item}}</li>
                    {% endfor %}
                </ul>
                <div class="note">
                    <h4>Note: </h4>
                    <p>All information provided will be kept confidential and used solely for the purpose of communicating with you.</p>
                    <p>You will be contacted once I receive your request and the payment of <strong>Rs. {{service.price}}/hr</strong> will be handled in person.</p>
                </div>
            
            </div>
            <div class="book-form-wrapper">
                
                <form method="POST" id="clientForm">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="{{ form.name.id_for_label }}">First Name</label>
                            {% render_field form.name class="form-control bt-4" placeholder="Jane" %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Email</label>
                            {% render_field form.email class="form-control bt-4" placeholder="jane@example.com" %}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                            {% render_field form.phone_number class="form-control bt-4" placeholder="9xxx xx xx xx " oninput="if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" %}
                            {{form.errors.phone_number}}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.service_type.id_for_label }}">Service</label>
                            {% render_field form.service_type class="form-control bt-4" value=service.title %}
                        </div>


                        
                        <div class="form-group">
                            <label for="{{ form.preferred_date.id_for_label }}">Start Date</label>
                            {% render_field form.preferred_date %}
                        </div>
                    <button type="submit" class="submit-btn primary">Send Request</button>


                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="other-services-container">
        <div class="other-services">
            <h1>Other Services</h1>
        </div>
        <div class="services-list">
            {% for obj in other_services %}
            <a href="{% url 'service-detail' obj.slug %}" class="service-card">
                <img src={{obj.icon.url}} alt="img" class="img">
                <div class="service-content">
                    <div class="service-content-detail">
                        <h2 class="service-title">{{obj.title}}</h2>
                        <p class="service-detail">{{obj.info}}</p>
                        <p class="price">Rs.{{obj.price}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </div>
</div>

{% endblock %}