{% extends 'website/index.html'%}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/service-detail.css'%}">
{% endblock %}
{% block title %}Our Services{% endblock %}
{% block content %}
{% include 'website/navbar.html' %}
<section>
    <div class="services-container">
        <div class="services hidden" id="services" style="align-items: flex-start;">
            <h1 class="title" style="margin:0;margin-bottom:0.25em;">My Services</h1>
            <p style="font-family: var(--paragraph-font); font-size: 1.2em;  color:black;text-align: left;">Presenting you with various services that can ease your body and improves your health. Start your plan now!</p>
            <div class="services-list">
                    {% for service in services %}
                    <div class="service-card child">
                        <img src={{service.icon.url}} alt="img" class="service-img">
                        <div class="service-content-detail">
                            <h2 class="service-title">{{service.title}}</h2>
                            <p class="service-detail">{{service.info}}</p>
                            <p class="price">Rs.{{service.price}}/hr</p>
                        </div>
                        <div class="blog-card-end">
                            <a href="{% url 'service-detail' service.slug %}" class="learn-more">LEARN MORE</a>
                            <div class="bar"></div>
                        </div>
                            
                    </div>
                    {% endfor %} 

            </div>
        </div>
            
    </div>
</section>
<div class="custom-plan-banner" style="background-color: #fee6cd; padding: 4em 2em; text-align: center; color: white; margin-bottom:var(--margin-top); ">
        <h2 style="font-family: var(--title-family); font-size: 2.5em; margin-bottom: 0.5em;color:#4A3B32;">Your Goals, Your Schedule.</h2>
        <p style="font-family: var(--paragraph-font); font-size: 1.2em; max-width: 600px; color:black;margin: 0 auto 2em auto;" class="child">
            Can't make it to a live session? Request a fully personalized 45-minute or 1-hour training program tailored specifically to your body and equipment.
        </p>
        <a href="{% url 'custom-service' %}" class="sell-all-btn child" style="background-color: #c3855f; color: white; display: inline-block;font-size:1.15rem;font-family: var(--role-font);">Request a Custom Plan</a>
    </div>

{% endblock %}