{% extends 'website/index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/client_style.css'%}">
{% endblock %}

<title>{% block title %} Clients {% endblock %}</title>
{% block content %}
{% include 'website/navbar.html' %}


<div class="dashboard-container">
        <div class="page-header">
            <h1>Client Overview</h1>
            <a class="btn btn-primary" id="add-client-btn" href="{% url 'client-form' %}">+ Add New Client</a>
        </div>

        <div class="stats-grid">
            <div class="stat-card">
                <h3>Active Clients</h3>
                <p class="stat-number">{{active_clients_count}}</p>
                <!-- <span class="stat-trend positive">↑ 2 this month</span> -->
            </div>
            <div class="stat-card">
                <h3>Total Clients</h3>
                <p class="stat-number">{{total_clients_count}}</p>
                <!-- <span class="stat-trend">4 remaining</span> -->
            </div>
            <div class="stat-card">
                <h3>Most Used Service</h3>
                <p class="stat-number text-accent">{{top_service}}</p>
                <!-- <span class="stat-trend">Requires follow-up</span> -->
            </div>
        </div>

       

        <div class="table-card">
            <div class="table-header">
                <h2>All Clients</h2>
                <input type="text" class="search-input" id="search-input" placeholder="Search clients..." >
            </div>
            
            <div class="table-responsive">
                <table class="client-table">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Age</th>
                            <th>Active Package</th>
                            <th>Paid or Not?</th>
                            <th>Total Session</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr class="client-row">
                            <td class="client-name">
                               {{client.name}}
                            </td>
                            <td>{{client.age}}</td>
                            <td>{{client.services.title}}</td>
                            <td><span class="session-badge">{{client.paid_or_not|cut:"ne"}}</span></td>
                            <td>{{client.total_sessions}}</td>
                            <td><span class="status-badge {{client.status}}">{{client.status}}</span></td>
                            <td class="actions">
                                <a href="javascript:void(0);" 
                                class="action-link edit"
                                onclick="openEditModal(this)"
                                data-id="{{ client.id }}"
                                data-name="{{ client.name }}"
                                data-age="{{ client.age }}"
                                data-gender="{{ client.gender }}"
                                data-date="{{ client.started_training_from|date:'Y-m-d' }}"
                                data-service="{{ client.services.id }}"
                                data-status="{{ client.status }}"
                                data-problem="{{ client.any_problem }}">
                               <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
                            </a>
                                <a class="action-link delete" title="Edit"id="delete-btn" onclick="deleteModalFunction('openModal', this)" data-url = "{% url 'delete-client' client.id %}"><i class="fa fa-trash" aria-hidden="true" title="Delete"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <div class="delete-modal" id="delete-modal-container">
                        <div class="delete-modal-card">
                            <h3>Are you sure you want to delete?</h>
                            <div class="client-btn-groups">
                                <form action="" id="delete-form">
                                    {% csrf_token %}
                                    <button class="alert-danger" id="yes-delete-btn">Yes</button>
                                </form>
                                <button class="alert-success" id="no-delete-btn" onclick="deleteModalFunction('closeModal', this)">No</button>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>
       

    </div>

{% endblock %}
{% block extra_script %}
<script src="{% static 'website/client.js' %}"></script>

{% endblock %}
